body {
	margin: 0;
	padding: 0;
}

#nv-collapse li {
	background-color: #14f5cc;
	text-align:center;
	text-color: yellow;
}

.container {
	background-color: blue;
	width: 100%;
	padding: 30px;
 }

 #content {
 	border: 1px solid black;
 	margin: 15px auto 15px;
 	padding: 10px; 
 	background-color: yellow;
 }
